<% content_for :title, @user %>
<%= image_tag @user.gravatar_url, class: 'img-circle img-responsive center-block' %><br/>
<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default' if can? :edit, @user %>

<% @user.projects.each do |project| %>
  <div class="row">
    <div class="col-md-2">
      <h2><%= project %></h2>
      <p><%= project.workshop %></p>
      <% if can? :edit, project %>
        <textarea><%= project.notes %></textarea>
      <% end %>
    </div>
    <div class="col-md-10">
      <%= render partial:'fields/list', locals: { fields: @fields, project: @user.project } unless @user.project.nil? %>
    </div>
  </div>
<% end %>
