<%= link_to project do %>
  <article class="project thumbnail">
    <span class="label label-default pull-right"><%= project.users.count %></span>
    <h1><%= project.name %></h1>
    <p class="small"><%= link_to project.workshop, project.workshop unless project.workshop.nil? %></p>
    <p><%= project.description %></p>
    <p>
      <%= link_to 'Site',
                  project.url,
                  target: :blank,
                  class: 'btn btn-sm btn-primary' if project.url %>
      <%= link_to 'Github',
                  project.github,
                  target: :blank,
                  class: 'btn btn-sm btn-primary' if project.github %>
    </p>
  </article>
<% end %>
