<div class="row">
    <div class="col-md-3">
        <%= render partial: 'badge', locals: { feature: @feature } %>
        <p><%= @feature.description %></p>
        <%= link_to 'Edit', edit_feature_path(@feature) if can? :edit, @feature %>
        <%= link_to 'Destroy', @feature, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, @feature %>
    </div>
    <div class="col-md-9">
        <% @feature.projects.each do |project| %>
          <div class="col-md-3">
            <%= link_to project, project %>
          </div>
        <% end %>
    </div>
</div>