<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>mmi workshop</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Masquer la navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">mmi workshop</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to 'Groupes', groups_path %></li>
                    <li><%= link_to 'Utilisateurs', users_path %></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <%= yield %>
    </div>
</body>
</html>
